.xfy_page{
    width: 100%;
    overflow-y: auto;

    .home{
        position: fixed;
        bottom: 100px;
        right: 20px;
        width: 30px;
        z-index: 1;
    
    }
    button{
        margin-bottom: 10px;
    }
    dl{
        display: block;
        overflow: hidden;
        dt{
            float: left;
        }
        dd{
            float: left;
            margin-left: 10px;
        }
    }
    pre{
        white-space: pre-wrap;
    }
    .search{
        position: sticky;
        top: 0;
        z-index: 100;
    }
    .list_box{
        height: calc(100vh - 100px);
    }
    .list_item{
        .item_content{
            display: block;
            overflow: hidden;
            
        }
    }
    .image_box{
        position: relative;
        .checkbox{
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;
        }
    }
}